header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#blue {
    color: blue;
}

#red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}