h3, p {
    text-align: center;
    margin: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

img {
    margin-left: 44%;
    margin-right: 50%;

}